<div>
    <p> Scan here on your mobile </p>
    <div >
        <div>To purchase this product on our app to avail exclusive app-only</div>
        <img src="{{ qr_code }}" height="100" width="300"  alt="star1" />
    </div>
</div>
