<div class="block-qr">
  <div class="item">
    <fieldset>
      <legend>Scan here on your mobile</legend>
      <span>To purchase this product on our app to avail exclusive app-only</span>
      <img src="{{ variables.data.qr }}">
    </fieldset>
  </div>
</div>
<style>
fieldset {
    border: 1px solid #000;
}
</style>